fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
httpx
python-dotenv
python-multipart
pandas
numpy
scikit-learn
# torch
# torch_geometric
pyyaml
reportlab
python-socketio
pytest
pytest-asyncio
